[Desktop Entry]
Type=Application
Name=Music
Exec=glacier-music
Icon=/usr/share/glacier-music/images/icon-app-music.png
X-Desktop-File-Install-Version=0.20
Name[cs]=Hudba
Name[ru]=Музыка
Name[pl]=Muzyka
Name[fi]=Musiikki
Name[de]=Musik
Name[uk]=Музика
Name[vi]=Âm nhạc
